<?xml version="1.0" encoding="utf-8"?>

<robot name="trailer" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="left_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="left_wheel_motor" role="actuator_left"/>
        <joint name="rear_left_wheel_joint" role="joint_left">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="right_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="right_wheel_motor" role="actuator_right"/>
        <joint name="rear_right_wheel_joint" role="joint_right">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="left_linkage_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="left_linkage_actuator" role="actuator_left"/>
        <joint name="left_linkage_joint" role="joint_left">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>
    
    <transmission name="right_linkage_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="right_linkage_actuator" role="actuator_right"/>
        <joint name="right_linkage_joint" role="joint_right">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>
    
    <gazebo reference="front_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="front_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo reference="rear_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="rear_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo reference="t_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="t_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find trailer_controller)/config/trailer_controller.yaml</parameters>
        </plugin>
    </gazebo>

</robot>