<?xml version="1.0" encoding="utf-8"?>

<robot name="trailer" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <transmission name="left_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="left_wheel_motor" role="actuator_left"/>
        <joint name="rear_left_wheel_joint" role="joint_left">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="right_wheel_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="right_wheel_motor" role="actuator_right"/>
        <joint name="rear_right_wheel_joint" role="joint_right">
            <mechanicalReduction>1.0</mechanicalReduction>
        </joint>
    </transmission>

    <transmission name="left_steer_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="left_steer_actuator" role="actuator_left"/>
        <joint name="steer_left_joint" role="joint_left_steer">
            <mechanicalReduction>25.13276</mechanicalReduction>
        </joint>
    </transmission>
    
    <transmission name="right_steer_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="right_steer_actuator" role="actuator_right"/>
        <joint name="steer_right_joint" role="joint_right_steer">
            <mechanicalReduction>25.13276</mechanicalReduction>
        </joint>
    </transmission>
    
    <gazebo reference="steer_left">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>50000.0</kp>
        <kd>50.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>
    
    <gazebo reference="steer_right">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>50000.0</kp>
        <kd>50.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>
    
    <gazebo reference="front_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="front_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo reference="rear_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="rear_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo reference="trailer">
        <mu1>0.7</mu1>
        <mu2>0.7</mu2>
        <kp>1e5</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 0 1</fdir1>
    </gazebo>

    <gazebo reference="t_left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="t_right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>0 -1 0</fdir1>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find trailer_controller)/config/trailer_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor type="imu" name="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu"/>
        </sensor>
    </gazebo>

    <!-- Ultrasonic Sensor u1 -->
    <gazebo reference="u1_link">
        <sensor type="ray" name="ultrasonic_sensor_u1">
            <pose>-2.16 0.6125 0.05 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>4.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_ultrasonic_u1">
                <gaussianNoise>0.01</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>sensor/ultrasonic_u1</topicName>
                <frameName>u1_link</frameName>
                <radiation>ultrasonic</radiation>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Ultrasonic Sensor u2 -->
    <gazebo reference="u2_link">
        <sensor type="ray" name="ultrasonic_sensor_u2">
            <pose>-2.16 0.260 0.05 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>4.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_ultrasonic_u2">
                <gaussianNoise>0.01</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>sensor/ultrasonic_u2</topicName>
                <frameName>u2_link</frameName>
                <radiation>ultrasonic</radiation>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Ultrasonic Sensor u3 -->
    <gazebo reference="u3_link">
        <sensor type="ray" name="ultrasonic_sensor_u3">
            <pose>-2.16 -0.260 0.05 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>4.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_ultrasonic_u3">
                <gaussianNoise>0.01</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>sensor/ultrasonic_u3</topicName>
                <frameName>u3_link</frameName>
                <radiation>ultrasonic</radiation>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Ultrasonic Sensor u4 -->
    <gazebo reference="u4_link">
        <sensor type="ray" name="ultrasonic_sensor_u4">
            <pose>-2.16 -0.6125 0.05 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.02</min>
                    <max>4.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_ultrasonic_u4">
                <gaussianNoise>0.01</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>sensor/ultrasonic_u4</topicName>
                <frameName>u4_link</frameName>
                <radiation>ultrasonic</radiation>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Depth Camera Setup -->
    <gazebo reference="depth_camera_link">
        <sensor name="depth_camera" type="depth">
            <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>30.0</update_rate>
            <camera name="depth_camera">
            <horizontal_fov>1.23918</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
            </camera>

            <plugin name="gazebo_ros_depth_camera_plugin" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>depth_camera</cameraName>
                <imageTopicName>/trailer/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/trailer/color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/trailer/depth/image_raw</depthImageTopicName>
                <depthImageCameraInfoTopicName>/trailer/depth/camera_info</depthImageCameraInfoTopicName>
                <pointCloudTopicName>/trailer/depth/points</pointCloudTopicName>
                <frameName>depth_camera_link</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
            </plugin>
        </sensor>
    </gazebo>

</robot>